@{
    ViewBag.Title = "Times";
}

<div class="row">
    <div class="col-md-4">
        <h2>Bem Vindo</h2>
        <p>
            @Html.ActionLink("Cadastro", "../Times/Create")
        </p>

        <p>
            @Html.ActionLink("Sorteio", "../Times/Sortear")
        </p>
    </div>
    <div>
        <a href="Jogo"></a>
    </div>
</div>