@{
    ViewBag.Title = "Bem Vindos!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Regras
Você deverá desenvolver uma solução WEB em C# .NET utilizando os frameworks, tecnologias e conceitos que julgar melhor (MVC é diferencial);
Queremos como resultado uma solução simples, legível e de qualidade;
Não utilize soluções prontas. Nós as conhecemos;
Seja criativo. Você decide quais funcionalidades irá incluir além dos requisitos;
Se quiser usar banco de dados, que seja LocalDB ou no SQL Azure (lembre-se de liberar o acesso no SQL Azure);
Voce tem 24 horas para entregar este sistema;

Dicas
Não se preocupe muito com Front-end. Um front-end simples e organizado é melhor do que um muito colorido;
Faça apenas o que você conhece. Não saia procurando códigos mirabolantes pela internet. Lembre-se da regra 3;
Estamos mais preocupados em saber se você realmente conhece a tecnologia;
Não conseguiu fazer tudo? Tudo bem!! Mande o que você conseguiu fazer e descreva qual foi sua dificuldade;

</p>
