@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Envio da Solução
    Coloque sua solução no GitHub (https://github.com/) e encaminhe o link para
    

</address>

<address>
    <strong>Envio do Teste:</strong><a href="oliveira.lucianolucas@gmail.com">Email:</a><br />
    
</address>